@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
[class*="col-"] {
    padding: 1rem;
}

#preloader{
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    background-color: white;
    overflow: auto;
}


body{
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  color:#222;
  height:100%;
  width: 100%;
}
.navbar{
  padding: 0.9rem;
}
/* .navbar-nav{
    margin-right: 1rem;
} */
.nav-item{
  padding:0rem 1.5rem;
  font-size: 1.1em;
  transition: background-color 0.5s ease-in-out;
}
.nav-item::after
{
  border-bottom: 2px solid #006dcc;
}
.nav-item:hover
{
  border-bottom: 4px solid #006dcc;
}
.carousel-item img{
  width: 100%;
  height: 100%;
}
.carousel-caption{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.carousel-caption h1{
  text-shadow: 1px 1px 10px #000;
}
.padding{
  padding-bottom: 3rem;
}
.carousel-caption h3{
    font-weight: 500;
    font-size: 2em;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.icon{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color:#006dcc;
    color: white;
    width: 15%;
    padding: 5% 5%;
    margin: auto;
    margin-bottom: 0.7rem;
    border-radius: 50%;
}
.fa-desktop,.fa-download,.fa-phone
{
    font-size: 4rem;
}
.carousel
{
    height: 70vh;
}
.carousel-container{
    background-color: #000;
}
.white{
  color:white;
}
.text{
    width: 60%;
    margin: 0 auto;
}
form{
  margin: auto;
  border-radius: 10px;
  width: 80%;
}
.form-control{
    padding: 1.5rem;
}
.contact-container{
    background-color: rgba(255, 255, 255, 0.87);
}
.line1{
  background-color: #d5D5D5;
  width: 80%;
  margin: auto;
}
.line{
  background-color: #d5D5D5;
  margin: auto;
  margin-bottom: 2.5rem;
}
footer{
  background-color: black;
  padding-top: 3rem;
}
.title{
  border-top: 1px #d5D5D5 solid;
  border-bottom: 1px #d5D5D5 solid;
  padding: 1.66rem;
  margin-bottom: 3rem;
  margin-top: -1rem;
}



@media (max-width: 1042px) {
    .social-btns a{
      font-size: 4rem;
      padding: 3rem;
    }
      .carousel-caption{
          top:40%;
      }
      .logos{
        margin-left: 9rem;
        }
  }
@media (max-width: 869px) {
  .social-btns a{
      font-size: 4rem;
      padding: 2rem;
    }
    .carousel-caption{
          top:40%;
      }
      .carousel-caption h1{
        font-size: 4rem;
      }
    .carousel-caption h3{
        font-size: 1.5em;
      }
}
@media (max-width: 752px) {
    .carousel-caption{
          top:40%;
      }
      .carousel-caption h1{
        font-size: 3rem;
      }
    .carousel-caption h3{
        font-size: 1em;
      }
      .c-btn{
        font-size: 15px;
      }
}
@media (max-width: 649px) {
    .carousel-caption{
          top:38%;
      }
      .carousel-caption h1{
        font-size: 2rem;
      }
    .carousel-caption h3{
        font-size: 0.7em;
      }
     .c-btn{
        font-size: 10px;
      }
     
}
@media (max-width: 542px) {
    .carousel-caption{
          top:40%;
      }
      .carousel-caption h1{
        font-size: 2rem;
      }
    .carousel-caption h3{
        font-size: 0.7em;
      }
     .c-btn{
        font-size: 8px;
      }
    .display-4{
        font-size: 2rem;
    }
     .icon{
        padding: 6% 6%;
      }
      .fa-desktop,.fa-download,.fa-phone
      {
        font-size: 2.5rem;
      }
}
@media (max-width: 420px) {
    .carousel-caption{
          top:35%;
      }
      .carousel-caption h1{
        font-size: 1.7rem;
      }
    .carousel-caption h3{
        font-size: 0.6em;
      }
     .c-btn{
        font-size: 7px;
      }
    .display-4{
        font-size: 1.5rem;
    }
}